@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Library Manager</h1>
    <p>@Html.ActionLink("See all Books", "Index", "Books")</p>
    <p>@Html.ActionLink("See all Authors", "Index", "Authors")</p> 
    <p>@Html.ActionLink("See all Patrons", "Index", "Patrons")</p>
</div>
