@{
  Layout = "_Layout";
}

@using System.Collections.Generic;
@using Library.Models;
@model Library.Models.Copy

<h4>Add a new task</h4>
@using (Html.BeginForm("Create", "Copy"))
{
  

  @Html.HiddenFor(model => model.CopyId)

  @* @Html.Label("Select Artist")
  @Html.DropDownList("ArtistId") *@


  <input type="submit" value="Add new Copy" />
}
<hr />
<p>@Html.ActionLink("Show all Copys", "Index")</p>